.card {
	border: #39373a 3px solid;
	border-radius: 5%;
	background-color: #fdfdcb;
	padding: 15px;
	/* flex: 1; */
	/* margin: 2% 5%; */
	max-width: 50vh;
	height: 76vh;
	text-transform: uppercase;
}

div.card span {
	background-color: #fdfdcb !important;
}

.winner-card {
	-webkit-animation: bounce 0.5s infinite alternate;
	-moz-animation: bounce 0.5s infinite alternate;
	animation: bounce 0.5s infinite alternate;
}

@-webkit-keyframes bounce {
	to {
		-webkit-transform: scale(1.1);
	}
}
@-moz-keyframes bounce {
	to {
		-moz-transform: scale(1.1);
	}
}
@keyframes bounce {
	to {
		transform: scale(1.1);
	}
}

.show-card-info {
	color: rgb(240, 114, 56);
}

.type {
	border: 0.2rem solid #000000;
	border-radius: 50%;
	background-color: rgb(240, 237, 52);
	width: 3vh;
	height: 3vh;
	text-align: center;
	padding: 0.5rem;
	font-size: 1.5rem;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 1em;
	align-items: center;
	height: 5vh;
	font-size: 0.5em;
	margin: 0.5rem;
}

.car-name {
	font-size: 3em;
	margin: 0px;
}

.super-trunfo {
	font-size: 2.5em;
	background-color: #e02020;
	padding: 6px;
	color: white;
	border-radius: 10px;
	animation: bounce 0.5s 5s alternate;
}

.hide-all {
	border: rgb(63, 211, 166) 3px solid;
	line-height: 12vh;
	/* vertical-align: middle; */
	text-align: center;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #c3bb82;
	overflow: hidden;
}

.hided-card-logo {
	font-size: 6vw;
	margin: 2rem auto;
}

.hided-card-h4 {
	font-size: 2vw;
}

.deck-theme-name {
	font-size: 3vw;
}

.image-box {
	display: flex;
	justify-content: center;
}

.card-image {
	/* max-width: 95%; */
	width: 100%;
	height: 35vh;
	margin: 0 0.5rem;
	display: block;
	/* border: 1px solid #000; */
	border-radius: 3%;
}

.attribute-list {
	/* display: flex;
	flex-direction: column; */
	height: 30vh;
	margin: 1rem 0.5rem;
	padding: 0.5rem;
	background-color: rgb(240, 237, 52);
	border: 0.2rem solid #000;
	border-radius: 2%;
}

.attribute-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.clickable {
	cursor: pointer;
}

/* se o item da lista nao for o ultimo e nem estiver sendo o atributo comparado, põe borda em baixo */
.attribute-item:not(:last-child):not(.high-light-attribute) {
	border-bottom: 1px solid #000;
}

.blur {
	filter: blur(3px);
}

.opacity {
	opacity: 0.2;
}

.high-light-attribute {
	border: 3px solid #ce3f3f;
	padding: 0px 10px;
	/* animation: blink 1s;
	animation-iteration-count: infinite; */
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

.waiting-player {
	width: 50%;
}

.high-light-type {
	border: 0.3rem solid #ce3f3f;
	padding: 0.8rem;
	font-size: 2rem;
}

.animation-blink {
	animation: blink 1s;
	animation-iteration-count: infinite;
}

.flip-container {
	width: 25vw;
	perspective: 1000px;
	margin: 2rem 4rem;
}

.flipper {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.do-flip .flipper {
	transform: rotateY(180deg);
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.back {
	transform: rotateY(180deg);
}
