.hud-container {
	position: relative;
	height: 10vh;
	margin: 2vh;
}

.waiting-second-player {
	display: flex;
	justify-content: center;
	font-size: 4rem;
}

.waiting-player-label {
	text-align: center;
	color: #ce3f3f;
	text-transform: uppercase;
	background-color: transparent;
}

.blink-animate {
	animation: blinkText 0.8s;
	animation-iteration-count: infinite;
}

@keyframes blinkText {
	50% {
		color: transparent;
	}
}
